body{
  background-color: #EFFAFE;
  margin: 0;
}

.tile{
  height: 6rem;
  background-color: white;
  margin: 0.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tileImg{
  border-radius: 50%;
  height: 4rem;
  background-color: black;
}

.tileHeading{
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  margin: 0.4rem 3rem;
  padding: 0;
}

.tileSubHeading{
  font-size: 0.7rem;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  color: grey;
  margin: 0.4rem 3rem;
  padding: 0;
}

.tileContent{
  display: flex;
  align-items: center;
  width: 80vw;
}

/*Search bar*/
.search {
  width: 80vw;
  border: 1px solid #89d6f6;
  border-radius: 2em;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
  margin: 7.5vh auto;
  background-color: white;
}

.searchInput {
  padding: 1em;
  width: 100%;
  background-color: #fff;
  border: none;
  outline: none;
}

.searchInput::placeholder {
  color: grey;
  font-size: .8rem;
  opacity: 50%; /* Firefox */
}

.searchButton {
  width: 2rem;
  font-size: 1.5rem;
  padding: 5px 0 5px 20px;
  margin: auto;
  color: #4b6598;
  background-color: #fff;
}

/*User Profile*/

.userProfile{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userProfileImg{
  margin: 2rem;
  border-radius: 50%;
  height: 10rem;
  background-color: black;
  border: 5px solid white;
  box-shadow: 0 1px 3px 1px rgba(128, 128, 128, 0.5);
}

.userProfileHeading{
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin: .5rem 0 .25rem;
  padding: 0;
}

.userProfileSubHeading{
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: #707070;
  margin: .25rem 0 .5rem;
  padding: 0;
}

.userProfileTagLine{
  font-size: .6rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #282828;
  margin: 1rem;
  padding: 0;
}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 4em;
  height: 4em;
  border: .75em solid rgb(198, 233, 245);
  border-left: .75em solid #58ccf6;
  border-radius: 50%;
  animation: load 1.1s infinite linear;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}